---
import type { Experience } from '@/i18n/cv';

interface Props {
  experience: Experience;
}

const { currentLocale } = Astro;

const { experience } = Astro.props;
const { name, company, companyUrl, startDate, endDate, summary } = experience;

const startDateFormatted = new Date(startDate).toLocaleDateString(currentLocale, { month: 'long', year: 'numeric' });
const endDateFormatted = endDate && new Date(endDate).toLocaleDateString(currentLocale, { month: 'long', year: 'numeric' });
---

<article>
  <!-- Bullet -->
  <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-2.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>

  <div class="relative start-4 pr-4 md:start-6 md:pr-6">
    <!-- Company && Date -->
    <header class="mb-4">
      <div class="flex flex-row justify-between items-center">
        <a href={ companyUrl } target="_blank">

          <h3 class:list={["text-md font-semibold text-[--veryDarkGray] dark:text-white",
            {
              'hover:underline hover:decoration-1 hover:underline-offset-4': companyUrl,
            }
          ]}>
            { company }
          </h3>
        </a>
        <time class="text-xs">
          { startDateFormatted } { endDateFormatted && ` - ${endDateFormatted}` }
        </time>
      </div>

      <!-- Experience title -->
      <p class="text-[--lightGray] dark:text-[--darkGray]">
        { name }
      </p>
    </header>

    <!-- Experience description -->
    <p>{ summary }</p>
  </div>
</article>


<!-- Learn-more button  -->
<!--<a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">
  Learn more 
  <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/></svg>
</a>-->