---
type Type = 'normal' | 'inline'

interface Props {
  text: String;
  type?: Type;
}

const { text, type = 'normal' }: Props = Astro.props;
---

<div class:list={[
  "justify-center bg-[--bg-color] dark:bg-[--lightGray]",
  {
    'inline-flex px-2 py-0.5 rounded-md': type === 'inline',
    'inline-flex items-center px-4 py-1.5 rounded-full': type === 'normal'
  }  
]}>
  <span class:list={[
    "text-black",
    {
      "text-[10px] tracking-tighter": type === "inline",
      "text-[12px] tracking-tight": type === "normal",
    }
  ]}>
    { text }
  </span>
</div>

<style>
:root {
  --bg-color: #f3f4f6;
}
</style>