---
import type { Work } from '@/i18n/cv';
import Badge from '@/shared/components/Badge.astro';
import { getI18N } from '@/i18n';

interface Props {
  work: Work;
}

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { SEE_WEB } = i18n.GENERAL;

const { work } = Astro.props;
const { client, position, startDate, endDate, typeOfContract } = work;
const { name: clientName, url: clientUrl } = client;

const startYear = new Date(startDate as string).getFullYear();
const endYear = endDate ? new Date(endDate).getFullYear() : new Date().getFullYear();
---

<a 
  href={ clientUrl } 
  target="_blank"
  title={`${SEE_WEB} ${clientName}`}
>
  <article class="text-center flex flex-col group"> 
    <!-- Project duration -->
    <time class="inter text-sm font-thin text-gray-400 mb-1">
      { startYear } { endYear && endYear !== startYear && `- ${endYear}` }
    </time> 
    <!-- Project client -->
    <h4 class="tracking-wide font-semibold text-lg group-hover:underline group-hover:decoration-0 group-hover:underline-offset-4">
      { clientName }
    </h4> 
    <!-- Position -->
    <p class="mt-1.5 mb-3">
      { position }
    </p>
    <!-- Highlights -->
    <span>
      <Badge text={ typeOfContract } />
    </span>
  </article>
</a>