---
import Section from '@/shared/components/Section.astro';
import ProjectCard from '../components/ProjectCard.astro';
import { getI18N } from '@/i18n';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const { projects: projectsTitle } = i18n.SECTIONS;
const { projects } = i18n.CV;
---

<Section title={ projectsTitle }>
  <ul>
    {
      projects.map( project => {
        return (
          <li>
            <ProjectCard project={ project } />
          </li>
        )}
      )
    }
  </ul>
</Section>

<style>
ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));
  gap: 1rem;
}
@media (min-width: 768px) {
  ul {
    margin-inline: -16px;
  }
}
</style>